li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;

}

code {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}